<% 
@page      = "tasks" 
page_count = @tasks.each_slice(10).to_a.length
%>
<section id="dashboard">
	<div class="dashboard-content">
		<h3>Task List</h3>

		<a href="/tasks/new"><i class="fas fa-plus-circle" title="add"></i></a>

		<% @tasks.each_slice(10) do |part| %>
		<table class="pg">
			<thead>
				<tr>
					<th>Name</th>
					<th class="text-right">Time</th>
					<th class="text-right">Rate</th>
					<th class="text-right">Action</th>
				</tr>
			</thead>
			<tbody>
				<% part.each do |p| %>
				<tr>
					<td><%= p.name %></td>
					<td class="text-right">
						<%= format_time(p.minutes, p.seconds) %>
					</td>
					<td class="text-right">
						<%= format_currency(p.rate) %>
					</td>
					<td class="text-right">
						<a href="/tasks/edit/<%= p.id %>">
							<i class="fas fa-pencil-alt" title="edit"></i>
						</a>
						<form action="/tasks/delete" method="post">
            	<input type="hidden" id="taskId" name="taskId" value="<%= p.id %>" />
            	<button type="submit">
            		<i class="far fa-trash-alt" title="delete"></i>
            	</button>
          	</form>
					</td>
				</tr>
				<% end %>
			</tbody>
		</table>
		<% end %>

		<% if (page_count > 1) then %>
		<ul class="dashboard-pages">
			<% (1..page_count).each do |p| %>
				<li><a href="#"><%= p %></a></li>
			<% end %>
		</ul>
		<% end %>
	</div>
	
	<div class="flex-grow-1"></div>
</section>

<% if (page_count > 1) then %>
<script src="/js/paging.js"></script>
<% end %>