<%
bdy_class = @page == "groups" || @page == "materials" || @page == "tasks" ? " class=\"dashboard-body\"" : ""
hdr_class = @page == "home" ? " class=\"fadeIn\"" : " class=\"secondary\""
nav_class = @page == "home" ? " class=\"fadeInDown\"" : ""
pages     = { 
	:home => {
		:url  => "/",
		:icon => "fa-home"
		},
	:groups => {
		:url  => "/groups",
		:icon => "fa-layer-group"
		},
	:materials => {
		:url  => "/materials",
		:icon => "fa-cut"
		}, 
	:tasks => {
		:url  => "/tasks",
		:icon => "fa-check-square"
		}, 
	:calculate => {
		:url  => "/calculate",
		:icon => "fa-calculator"
		}
	}
uses      = [
	"maintain your materials",
	"maintain your tasks",
	"calculate manufacturing costs"
]
%>
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">		
	<link rel="icon" type="image/png" href="/img/favicon.png">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" integrity="sha256-46qynGAkLSFpVbEBog43gvNhfrOj+BmwXdxFgVK/Kvc=" crossorigin="anonymous" />
	<link href="https://fonts.googleapis.com/css?family=Barlow+Condensed:300|Cinzel&display=swap" rel="stylesheet">	
	<link rel="stylesheet" href="/css/style.css">
	<title>Cost Estimator | <%= @page.capitalize %></title>
</head>
<body<%= bdy_class %>>
	<header id="header"<%= hdr_class %>>
		<nav id="nav"<%= nav_class %>>
			<div class="nav-logo">
				<h1>DareDevils</h1>
				<h2><img src="/img/trident.png" alt="trident">Activewear</h2>
			</div>
							
			<hr>
								
			<ul class="nav-links">
			<% pages.each do |key, value| %>
				<li>
					<a href="<%= value[:url] %>"<%= if (@page == key.to_s) then " class=\"active\"" end %>>
						<i class="fas <%= value[:icon] %>"></i><%= key.capitalize %>
					</a>
				</li>
			<% end %>
			</ul>
		</nav>
		
		<% if (@page == "home") then %>
		<div class="welcome-wrapper">
			<div id="welcome" class="fadeInRight">			
				<i id="close" class="fas fa-times close" title="close"></i>
				<h3>Use this application to:</h3>
				<ul>
					<% uses.each do |use| %>
					<li><i class="fas fa-caret-right"></i><span><%= use %></span></li>
					<% end %>
				</ul>
				<a href="/calculate" class="btn">Calculate Now</a>
			</div>
		</div>
		<% end %>
	</header>
	
	<%= yield %>
	
	<% if (@page == "home") then %>
	<script src="/js/close.js"></script>
	<% end %>
</body>
</html>